In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/testandtrain2/hackathon_ml_v1.2.docx
/kaggle/input/testandtrain2/Test/test_customers.csv
/kaggle/input/testandtrain2/Test/test_cdna_data.csv
/kaggle/input/testandtrain2/Test/test_action_history.csv
/kaggle/input/testandtrain2/Train/train_action_history.csv
/kaggle/input/testandtrain2/Train/train_cdna_data.csv
/kaggle/input/finalfinal2/final.csv
/kaggle/input/finalfinal2/test_customers.csv

In [2]:
import pandas as pd

# Sample data for Dataset 1 (df1) with customer codes and order arrays
df1 = pd.read_csv('/kaggle/input/finalfinal2/final.csv')

# Sample data for Dataset 2 (df2) with customer IDs to match (smaller than df1)
df2 = pd.read_csv('/kaggle/input/finalfinal2/test_customers.csv')

# # Merge df2 with df1 on customer_id and customer_code
# # Here we're matching the 'customer_id' in df2 with 'customer_code' in df1
# df_merged = df2.merge(df1, left_on='customer_id', right_on='customer_code', how='left')

# # Now, df_merged has the corresponding order_array for each customer_id
# # Create the submission file by extracting the relevant columns
# submission_df = df_merged[['customer_id', 'order_array']]

# # Save it as a CSV (or any other format you need)
# submission_df.to_csv('submission_file.csv', index=False)

# # Display the submission file
# print(submission_df)

In [5]:
df1['predicted_slots_order']=df1['order']

In [7]:
df1.drop(columns='order',inplace=True)

In [23]:
df1

,customer_code,predicted_slots_order
0,0001669127bc294ff6ed183ac433afab0fa11d4693a844...,14 18 9 17 13 2 22 0 10 6 12 1 5 16 21 4 26 20...
1,0001669127bc294ff6ed183ac433afab0fa11d4693a844...,14 18 9 17 13 2 22 0 10 6 12 1 5 16 21 4 26 20...
2,0001669127bc294ff6ed183ac433afab0fa11d4693a844...,14 18 9 17 13 2 22 0 10 6 12 1 5 16 21 4 26 20...
3,0001669127bc294ff6ed183ac433afab0fa11d4693a844...,14 18 9 17 13 2 22 0 10 6 12 1 5 16 21 4 26 20...
4,0001669127bc294ff6ed183ac433afab0fa11d4693a844...,14 18 9 17 13 2 22 0 10 6 12 1 5 16 21 4 26 20...
...,...,...
1460248,fffe86f8b70a25942aedeec671da371881d4f2569d802f...,4 12 20 0 16 24 8 17 21 9 14 22 23 3 15 25 6 1...
1460249,fffe86f8b70a25942aedeec671da371881d4f2569d802f...,4 12 20 0 16 24 8 17 21 9 14 22 23 3 15 25 6 1...
1460250,fffe86f8b70a25942aedeec671da371881d4f2569d802f...,4 12 20 0 16 24 8 17 21 9 14 22 23 3 15 25 6 1...
1460251,fffe86f8b70a25942aedeec671da371881d4f2569d802f...,4 12 20 0 16 24 8 17 21 9 14 22 23 3 15 25 6 1...
1460252,fffe86f8b70a25942aedeec671da371881d4f2569d802f...,4 12 20 0 16 24 8 17 21 9 14 22 23 3 15 25 6 1...

In [13]:
df2['customer_code']=df2['CUSTOMER_CODE']
df2.drop(columns='CUSTOMER_CODE',inplace=True)

In [22]:
df2

                                           customer_code
0      2cf9e9b31ca760b8772d8e136e85c640df36b491ba8be7...
1      34481740a44eae239d61c7c0526dc42dc221a94939a8c1...
2      bb5d102bb50fd308aee248d0fa5cdddbf1a29e263d8e2d...
3      8229cb51e7392dc37cac4fd94959699bca2c9424a8548c...
4      f812ad81bc6939bab1856476f12ee2ff8100b8308a3b1c...
...                                                  ...
65703  2b3f8f3a6222d12e94cb7ca4911472464ad36b80b506e0...
65704  1763f89ffbb619f67b5614da85f2e6e2d37702420c893d...
65705  6ad50ea3f7b58bda52c7a7e52c2f10880cd27e8742dcb7...
65706  08f86635d836ffaba3b30df970e2ea7fb6c2116d4619ef...
65707  e7eb2aa824b5053cb8c3778ed7b4f8c90eff03be5f7b47...

[65708 rows x 1 columns]

In [32]:
import pandas as pd

# Assuming df1 and df2 are your DataFrames

# Remove duplicate customer codes in df1, keeping only the first occurrence
df1_deduplicated = df1.drop_duplicates(subset='customer_code')

# Merge df2 with the deduplicated df1 on 'customer_code'
final_result = pd.merge(df2, df1_deduplicated, on='customer_code', how='left')

# Display the resulting DataFrame
print(final_result)

                                           customer_code  \
0      2cf9e9b31ca760b8772d8e136e85c640df36b491ba8be7...
1      34481740a44eae239d61c7c0526dc42dc221a94939a8c1...
2      bb5d102bb50fd308aee248d0fa5cdddbf1a29e263d8e2d...
3      8229cb51e7392dc37cac4fd94959699bca2c9424a8548c...
4      f812ad81bc6939bab1856476f12ee2ff8100b8308a3b1c...
...                                                  ...
65703  2b3f8f3a6222d12e94cb7ca4911472464ad36b80b506e0...
65704  1763f89ffbb619f67b5614da85f2e6e2d37702420c893d...
65705  6ad50ea3f7b58bda52c7a7e52c2f10880cd27e8742dcb7...
65706  08f86635d836ffaba3b30df970e2ea7fb6c2116d4619ef...
65707  e7eb2aa824b5053cb8c3778ed7b4f8c90eff03be5f7b47...

                                   predicted_slots_order
0      14 9 13 17 18 6 1 22 5 2 16 0 10 21 4 12 26 20...
1      25 9 8 4 16 14 0 13 22 18 12 20 24 10 26 6 17 ...
2      4 22 20 9 14 15 6 17 21 13 10 12 0 1 8 18 5 16...
3      14 18 22 10 26 2 6 4 20 9 0 8 25 12 19 16 3 11...
4      16 12 14 13 17 24 18 9 22 0 1 5 6 10 2 21 4 20...
...                                                  ...
65703  9 14 10 18 17 13 22 6 1 2 5 16 0 21 4 12 26 20...
65704  22 20 4 9 15 14 17 6 8 21 13 0 1 12 18 10 5 16...
65705  4 12 20 0 16 8 24 17 21 9 14 22 23 3 15 25 6 1...
65706  23 12 17 10 14 4 9 16 18 13 1 0 5 6 21 2 22 20...
65707  14 18 9 17 13 22 10 6 1 2 5 16 0 21 4 12 26 20...

[65708 rows x 2 columns]

In [39]:
import pandas as pd

# Replace NaN values in the 'predicted_slots_order' column with "1 2 3 ... 28"
final_result['predicted_slots_order'] = final_result['predicted_slots_order'].fillna(
    ' '.join(map(str, range(1, 29)))
)

# Display the updated DataFrame
print(final_result.isnull().sum())  # Check if there are still null values

customer_code            0
predicted_slots_order    0
dtype: int64

In [40]:
final_result.isnull().sum()

customer_code            0
predicted_slots_order    0
dtype: int64

In [41]:
def add_one_to_slots(slot_list):
    # Convert the string to a list of integers, add 1 to each, and join back into a string
    return ' '.join(str(int(slot) + 1) for slot in slot_list.split())

# Apply the function to the 'predicted_slots' column
final_result['predicted_slots_order'] = final_result['predicted_slots_order'].apply(add_one_to_slots)

# Display the updated DataFrame
print(final_result)

                                           customer_code  \
0      2cf9e9b31ca760b8772d8e136e85c640df36b491ba8be7...
1      34481740a44eae239d61c7c0526dc42dc221a94939a8c1...
2      bb5d102bb50fd308aee248d0fa5cdddbf1a29e263d8e2d...
3      8229cb51e7392dc37cac4fd94959699bca2c9424a8548c...
4      f812ad81bc6939bab1856476f12ee2ff8100b8308a3b1c...
...                                                  ...
65703  2b3f8f3a6222d12e94cb7ca4911472464ad36b80b506e0...
65704  1763f89ffbb619f67b5614da85f2e6e2d37702420c893d...
65705  6ad50ea3f7b58bda52c7a7e52c2f10880cd27e8742dcb7...
65706  08f86635d836ffaba3b30df970e2ea7fb6c2116d4619ef...
65707  e7eb2aa824b5053cb8c3778ed7b4f8c90eff03be5f7b47...

                                   predicted_slots_order
0      15 10 14 18 19 7 2 23 6 3 17 1 11 22 5 13 27 2...
1      26 10 9 5 17 15 1 14 23 19 13 21 25 11 27 7 18...
2      5 23 21 10 15 16 7 18 22 14 11 13 1 2 9 19 6 1...
3      15 19 23 11 27 3 7 5 21 10 1 9 26 13 20 17 4 1...
4      17 13 15 14 18 25 19 10 23 1 2 6 7 11 3 22 5 2...
...                                                  ...
65703  10 15 11 19 18 14 23 7 2 3 6 17 1 22 5 13 27 2...
65704  23 21 5 10 16 15 18 7 9 22 14 1 2 13 19 11 6 1...
65705  5 13 21 1 17 9 25 18 22 10 15 23 24 4 16 26 7 ...
65706  24 13 18 11 15 5 10 17 19 14 2 1 6 7 22 3 23 2...
65707  15 19 10 18 14 23 11 7 2 3 6 17 1 22 5 13 27 2...

[65708 rows x 2 columns]

In [46]:
final_result[]

,customer_code,predicted_slots_order
0,2cf9e9b31ca760b8772d8e136e85c640df36b491ba8be7...,15 10 14 18 19 7 2 23 6 3 17 1 11 22 5 13 27 2...
1,34481740a44eae239d61c7c0526dc42dc221a94939a8c1...,26 10 9 5 17 15 1 14 23 19 13 21 25 11 27 7 18...
2,bb5d102bb50fd308aee248d0fa5cdddbf1a29e263d8e2d...,5 23 21 10 15 16 7 18 22 14 11 13 1 2 9 19 6 1...
3,8229cb51e7392dc37cac4fd94959699bca2c9424a8548c...,15 19 23 11 27 3 7 5 21 10 1 9 26 13 20 17 4 1...
4,f812ad81bc6939bab1856476f12ee2ff8100b8308a3b1c...,17 13 15 14 18 25 19 10 23 1 2 6 7 11 3 22 5 2...
...,...,...
65703,2b3f8f3a6222d12e94cb7ca4911472464ad36b80b506e0...,10 15 11 19 18 14 23 7 2 3 6 17 1 22 5 13 27 2...
65704,1763f89ffbb619f67b5614da85f2e6e2d37702420c893d...,23 21 5 10 16 15 18 7 9 22 14 1 2 13 19 11 6 1...
65705,6ad50ea3f7b58bda52c7a7e52c2f10880cd27e8742dcb7...,5 13 21 1 17 9 25 18 22 10 15 23 24 4 16 26 7 ...
65706,08f86635d836ffaba3b30df970e2ea7fb6c2116d4619ef...,24 13 18 11 15 5 10 17 19 14 2 1 6 7 22 3 23 2...
65707,e7eb2aa824b5053cb8c3778ed7b4f8c90eff03be5f7b47...,15 19 10 18 14 23 11 7 2 3 6 17 1 22 5 13 27 2...

In [45]:
final_result.to_csv('/kaggle/working/final_submission2.csv')

In [49]:
final_result

,customer_code,predicted_slots_order
0,2cf9e9b31ca760b8772d8e136e85c640df36b491ba8be7...,15 10 14 18 19 7 2 23 6 3 17 1 11 22 5 13 27 2...
1,34481740a44eae239d61c7c0526dc42dc221a94939a8c1...,26 10 9 5 17 15 1 14 23 19 13 21 25 11 27 7 18...
2,bb5d102bb50fd308aee248d0fa5cdddbf1a29e263d8e2d...,5 23 21 10 15 16 7 18 22 14 11 13 1 2 9 19 6 1...
3,8229cb51e7392dc37cac4fd94959699bca2c9424a8548c...,15 19 23 11 27 3 7 5 21 10 1 9 26 13 20 17 4 1...
4,f812ad81bc6939bab1856476f12ee2ff8100b8308a3b1c...,17 13 15 14 18 25 19 10 23 1 2 6 7 11 3 22 5 2...
...,...,...
65703,2b3f8f3a6222d12e94cb7ca4911472464ad36b80b506e0...,10 15 11 19 18 14 23 7 2 3 6 17 1 22 5 13 27 2...
65704,1763f89ffbb619f67b5614da85f2e6e2d37702420c893d...,23 21 5 10 16 15 18 7 9 22 14 1 2 13 19 11 6 1...
65705,6ad50ea3f7b58bda52c7a7e52c2f10880cd27e8742dcb7...,5 13 21 1 17 9 25 18 22 10 15 23 24 4 16 26 7 ...
65706,08f86635d836ffaba3b30df970e2ea7fb6c2116d4619ef...,24 13 18 11 15 5 10 17 19 14 2 1 6 7 22 3 23 2...
65707,e7eb2aa824b5053cb8c3778ed7b4f8c90eff03be5f7b47...,15 19 10 18 14 23 11 7 2 3 6 17 1 22 5 13 27 2...

In [28]:
df_merged['predicted_slots_order'] = df_merged['predicted_slots_order'].apply(lambda x: ', '.join(x) if isinstance(x, list) else str(x))

In [48]:
df_merged['predicted_slots_order']

0          14 9 13 17 18 6 1 22 5 2 16 0 10 21 4 12 26 20...
1          10 17 9 14 18 13 12 4 16 0 5 1 6 21 22 2 26 20...
2          10 17 9 14 18 13 12 4 16 0 5 1 6 21 22 2 26 20...
3          14 15 10 9 13 1 22 5 2 0 21 16 17 4 12 6 18 26...
4          10 17 9 14 18 13 12 4 16 0 5 1 6 21 22 2 26 20...
                                 ...
1436725    14 18 9 17 13 22 10 6 1 2 5 16 0 21 4 12 26 20...
1436726    14 18 9 17 13 22 10 6 1 2 5 16 0 21 4 12 26 20...
1436727    14 18 9 17 13 22 10 6 1 2 5 16 0 21 4 12 26 20...
1436728    14 18 9 17 13 22 10 6 1 2 5 16 0 21 4 12 26 20...
1436729    14 18 9 17 13 22 10 6 1 2 5 16 0 21 4 12 26 20...
Name: predicted_slots_order, Length: 1436730, dtype: object

T******RAIN**

In [ ]:
# Check if NaN values remain in numeric columns
print(df[numeric_columns].isna().sum())
import pandas as pd
import numpy as np
import xgboost as xgb
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

# One-hot encode categorical columns
df = pd.get_dummies(df, columns=['product_category', 'product_sub_category', 'Offer_id','Offer_subid'])

# Drop 'customer_code' if present
if 'customer_code' in df.columns:
    df = df.drop(columns=['customer_code'])

# Adjust 'slot' column to start from 0
df['slot'] = df['slot'] - 1
df['slot'] = df['slot'].astype(int)

# Create features and targets
X = df.drop(columns=['flag', 'slot'])  # Features
y = df['slot']  # Target (slots 0-27)
weights = df['flag']  # Use 'flag' as sample weights

# Split the data into training and testing sets
X_train, X_test, y_train, y_test, weights_train, weights_test = train_test_split(
    X, y, weights, test_size=0.2, random_state=42
)

# Initialize the XGBoost model
xgb_model = xgb.XGBClassifier(
    n_estimators=100,        # Number of boosting rounds
    max_depth=6,             # Maximum tree depth
    learning_rate=0.1,       # Learning rate
    objective='multi:softprob',  # Multi-class classification with probabilities
    num_class=28,            # Number of classes (slots 0 to 27)
    eval_metric='mlogloss',  # Multi-class log loss for evaluation
    use_label_encoder=False  # Avoid warning about label encoding
)

# Train the model
xgb_model.fit(
    X_train,
    y_train,
    sample_weight=weights_train,  # Use 'flag' as sample weights
    eval_set=[(X_test, y_test)],
    verbose=True
)

# Predict on the test set
y_pred = xgb_model.predict(X_test)
y_pred_proba = xgb_model.predict_proba(X_test)

# Evaluate the accuracy of the predictions
accuracy = accuracy_score(y_test, y_pred)
print(f"Accuracy on test set: {accuracy:.4f}")

# Output probabilities sorted by priority for each customer
results = []
for i, customer in enumerate(X_test.index):
    probs = y_pred_proba[i]
    sorted_slots = np.argsort(-probs)  # Sort slots by descending probability
    result = {
        'customer': customer,
        'sorted_slots': sorted_slots.tolist(),
        'probabilities': probs[sorted_slots].tolist()
    }
    results.append(result)

# Convert results to a DataFrame for better visualization
results_df = pd.DataFrame(results)
print(results_df.head())  # Display the top results